/* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Faz a página ocupar toda a altura da viewport */
}

/* Estilo do Formulário */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

/* Estilo dos Inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
  width: 93%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo do Botão */
button {
  width: 100%;
  padding: 10px;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Efeitos do Botão */
button:hover {
  background-color: #4cae4c; /* Um pouco mais escuro ao passar o mouse */
}

/* Estilos do Dialog */
dialog {
  border: none;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
}

/* Estilo do Botão de Fechar no Dialog */
#close {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

#close:hover {
  background-color: #c9302c; /* Um pouco mais escuro ao passar o mouse */
}
